@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-gradient-text {
  background: linear-gradient(
    270deg,
    #06b6d4,
    #3b82f6,
    #9333ea,
    #f43f5e,
    #f59e0b,
    #ec4899,
    #06b6d4
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
